.App {
  text-align: center;
  justify-content: center;
  display: flex;
  margin-top: 100px;
  height: 100vh;
  background-image: url("https://c4.wallpaperflare.com/wallpaper/336/304/1013/gengar-pokemon-wallpaper-preview.jpg");
}

